includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - app
        - config
    tmpDir: storage/cache/phpstan
    checkMissingIterableValueType: true
    reportUnmatchedIgnoredErrors: true
